# RabbitMQ Variables
# See https://hub.docker.com/_/rabbitmq
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=yourstrongpassword
RABBITMQ_VHOST=/

# Where certs are linked by letsencrypt
# IMPORTANT: The binding path must match outside and inside, and must be set readonly
# See https://community.home-assistant.io/t/access-letsencrypt-certificates-when-running-via-docker/68909/6
CERT_VOLUME_NAME=/etc/letsencrypt/live/mysite

# SSL configuration
RABBITMQ_MANAGEMENT_SSL_CACERTFILE=/etc/letsencrypt/live/mysite/chain.pem
RABBITMQ_MANAGEMENT_SSL_CERTFILE=/etc/letsencrypt/live/mysite/fullchain.pem
RABBITMQ_MANAGEMENT_SSL_KEYFILE=/etc/letsencrypt/live/mysite/privkey.pem
RABBITMQ_MANAGEMENT_SSL_DEPTH=2
RABBITMQ_MANAGEMENT_SSL_FAIL_IF_NO_PEER_CERT=true
RABBITMQ_MANAGEMENT_SSL_VERIFY=verify_peer
RABBITMQ_VM_MEMORY_HIGH_WATERMARK=0.8
